$fondo-boton: #323232;
$color-destacado: #6b8e23;
$family-titulo: 'Playfair Display', serif;
$family-gral: 'Open Sans', serif;
$typoestilo: italic;
$bold: 600;
$upper: uppercase;
$br: 5px;
$color-nav: rgb(224, 224, 224);
$borde-tarjeta: 0;